.modal-background {
  background: rgba(25,25,25, .5);
  height: 100%;
  position: absolute;
  width: 100%;

  .modal-body {
    background-color: $buff;
    margin: 10% auto;
    padding: 2%;
    width: 80%;
  }
}

.contact-form {
  width: 100%;

  fieldset {
    border: none;
    padding: 1.2em 0;
  }

  textarea {
    @include input-font();
    @include input-styles(4em);
  }

  input {
    @include input-font();
    @include input-styles();
  }

  button {
    @include button-styles();

    &:disabled {
      background-color: rgba(238, 95, 32, .5);
    }
  }

  label {
    @include small-text($size: 1em, $transform: uppercase);
  }

  span.error {
    @include small-text($transform: uppercase, $color: $orange);
    padding: 1.2em 0;
  }
}

.success-message {
  @include small-text($size: 1.75em, $transform: uppercase, $color: $white);

  background-color: $orange;
  left: 33%;
  padding: 1rem;
  position: absolute;
  text-align: center;
  top: 1em;
  width: 33%;

  .close-button {
    @include button-styles($background: $white, $color: $orange, $size: 1em, $padding: .2em 1em);

    margin-top: 1.5em;
  }
}