.hero {
  text-align: center;

  h1 {
    @include font-jumbotron($color: $white, $lh: $short-line-height);
  }

  h2 {
    @include font-quote($lh: $medium-line-height);
    text-transform: uppercase;
  }

  p {
    @include font-quote($size: $small-text-size, $lh: $medium-line-height);
  }

  img {
    width: 26em;
  }
}