// MD Themes
@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: #EE5F20, // The primary color of your brand
  accent: #E9E4DC // The secondary color of your brand
));

@import "~vue-material/dist/theme/all"; // Apply the theme

// Settings
$orange: #EE5F20;
$buff: #F4F1ED;
$white: #FFFFFF;
$charcoal: #31211B;
$darkgrey: #A2A2A2;
$lightgrey: #D1CDC9;
$short-line-height: .75em;
$medium-line-height: 1em;
$tall-line-height: 1.25em;
$small-text-size: 1.2em;

// Typography
@mixin font-jumbotron($size: false, $color: false, $weight: false,  $lh: false) {
  font-family: 'Archivo Bold', sans-serif;
  text-transform: uppercase;

  @if $size {
    font-size: $size;
  } @else {
    font-size: 21em;
  }

  @if $color {
    color: $color;
  } @else {
    color: $charcoal;
  }

  @if $weight {
    font-weight: $weight;
  } @else {
    font-weight: normal;
  }

  @if $lh {
    line-height: $lh;
  }
}

@mixin font-quote($size: false, $color: false, $weight: false,  $lh: false) {
  font-family: 'Archivo Medium', sans-serif;

  @if $size {
    font-size: $size;
  } @else {
    font-size: 1.5em;
  }

  @if $color {
    color: $color;
  } @else {
    color: $lightgrey;
  }

  @if $weight {
    font-weight: $weight;
  } @else {
    font-weight: normal;
  }

  @if $lh {
    line-height: $lh;
  }
}

@mixin small-text($size: false, $color: false, $weight: false,  $lh: false, $transform: false){
  font-family: 'Archivo Medium', sans-serif;

  @if $size {
    font-size: $size;
  } @else {
    font-size: $small-text-size;
  }

  @if $color {
    color: $color;
  } @else {
    color: $charcoal;
  }

  @if $weight {
    font-weight: $weight;
  } @else {
    font-weight: normal;
  }

  @if $lh {
    line-height: $lh;
  }

  @if $transform {
    text-transform: $transform;
  }
}

// Common Styles
.body {
  background-color: $buff;
  height: 100vh;
}

.background-image {
  object-fit: cover;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

// Components
@import "hero";
@import "navigation";
